/* ==========================================
   Shiva Mahajothi Jewellers
   Mobile.css
   For screens up to 768px
========================================== */


/* Hide desktop menu */
.menu-wrapper{
    display:none;
}

/* Show hamburger */
.menu-toggle{
    display:block;
    font-size:32px;
    background:none;
    border:none;
    cursor:pointer;
    color:#333;
}

/* Mobile Header */

.mobile-topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

    background:#fff;

    position:sticky;

    top:0;

    z-index:999;

    border-bottom:1px solid #ddd;

}

.logo{

    width:120px;

    height:auto;

}

/* Mobile Navigation */

.menu-wrapper.open{

    display:block;

    position:absolute;

    top:95px;

    left:0;

    width:100%;

    background:#fff;

    border-top:1px solid #ddd;

    box-shadow:0 3px 10px rgba(0,0,0,.15);

}

/* Main Menu */

.mobile-menu ul{

    list-style:none;

    margin:0;

    padding:0;

}

.mobile-menu li{

    border-bottom:1px solid #eee;

}

.mobile-menu a{

    display:block;

    padding:15px 20px;

    text-decoration:none;

    color:#333;

    font-size:20px;

}

/* Sub Menu */

.submenu{

    display:none;

    background:#f7f7f7;

    padding-left:20px;

}

.submenu.show{

    display:block;
    border: 2px solid red;

}

.submenu a{

    padding:12px 20px;

    font-size:18px;

}

/* Banner */
.hero {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}
.hero img{

    width:100%;

    height:auto;

}

/* Content */

main{

    padding:20px;

}

h2{

    font-size:28px;

    margin-bottom:15px;

}

p{

    font-size:18px;

    text-align:justify;

}

/* Footer */

/* ==========================================
   FOOTER
========================================== */

footer{

    background:#f5f5f5;

    border-top:1px solid #dddddd;

    padding:40px 20px;

}

.footer-container{

    max-width:900px;

    margin:0 auto;

    text-align:center;

}

/* Copyright */

footer p{

    margin:0 0 25px 0;

    font-size:20px;

    color:#555;

    text-align:center;

}

/* Social Icons */

.social-icons{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:25px;

    margin-top:10px;

}

.social-icons a{

    width:58px;

    height:58px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#555;

    color:#ffffff;

    font-size:28px;

    text-decoration:none;

    transition:all .3s ease;

}

.social-icons a:hover{

    background:#ff9800;

    transform:translateY(-5px);

}

.mobile-topbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px;

}


/* ==========================================
   MOBILE ONLY
========================================== */
.desktop-topbar{
    display:none;
}

.desktop-menu{
    display:none !important;
}
